@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #F8F0E5;
}

body {
  background: rgb(1,1,34);
  background: linear-gradient(90deg, rgba(1,1,34,1) 17%, rgba(38,4,68,1) 50%, rgba(1,1,34,1) 100%);
}

/* navbar */

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(199, 0, 57, 0.4) 0px 5px, rgba(199, 0, 57, 0.3) 0px 10px, rgba(199, 0, 57, 0.2) 0px 15px, rgba(199, 0, 57, 0.1) 0px 20px, rgba(199, 0, 57, 0.05) 0px 25px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  margin: 1rem 0 1rem 1rem;
}

.menuToggler{
  display: none;
  margin: 1rem 1rem 0 0 ;
}


.logo-title {
  color: #F8F0E5;
  text-decoration: none;
  font-size: 1.8rem;
  margin-right: 1rem;
}

.nav-items{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.nav-list-item{
  text-decoration: none;
  color: #DDE6ED;
  font-size: .8rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all .1s ease-in;
}

.nav-list-item:hover{
  transform: scale(1.2);
  border-bottom: 1px solid #ECF2FF;
}

/* Main Content */

.main-container{
  min-height: calc(100vh - 3rem);
}

.main{
  margin-block: 5rem;
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Hero Section */

.hero{
  width: 40%;
  margin-left: 2rem;
  padding: 1rem;
}

.hero-title{
  letter-spacing: .1rem;
  line-height: 1.9rem
}

.hero-desc{
  margin-top: 2rem;
  letter-spacing: .1rem;
  line-height: 1.8rem;
}



.hero-btn{
  position: relative;
  width: 10rem;
  padding: .5rem;
  margin-top: 1rem;
  background-color: #010122;
  color: #F8F0E5;
  font-size: 1rem;
  letter-spacing: .1rem;
  background: linear-gradient(#010122, #010122) padding-box,
              linear-gradient(to right, rgb(207, 12, 129), rgb(204, 50, 76)) border-box;
  border-radius: .5rem;
  border: 3px solid transparent;
  transition: all 0.15s ease-in;
  cursor: pointer;
  user-select: none;
}

.hero-btn:hover{
  transform: scale(1.1) translateX(.5rem) translateY(.5rem);
  background: linear-gradient(to right, rgb(207, 12, 129), rgb(204, 50, 76)) border-box;
}

/* Food Container */

.foodImg-container{
  background: linear-gradient(to right, rgb(207, 12, 129), rgb(204, 50, 76)) border-box;
  padding: 2rem;
  border-radius: .5rem;
  max-width: 400px;
}

.food-img{
  width: 100%;
  border-radius: .5rem;
}

/* Chef Bot container */

.bot-container{
  width: 60%;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chefBot-container{
  max-width: 500px;
  background-color: #6ccff9;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #010122;
  border-radius: 1.2rem;
}

.chefBot{
  display: flex;
  justify-content: center;
  align-items: center;
}

.botImg{
  max-width: 40%;
  padding-right: 1rem;
}

.botChatBox{
  max-width: 55%;
  min-height: 124px;
  position: relative;
  margin: 0;
  background-color: #C9EEFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #337CCF;
  border-radius: .5rem;
  padding: 1rem;
}

.botChatBox:before{
    content: "";
    position: absolute;
    border-left: 9px solid transparent;
    border-right: 9px solid #337CCF;
    border-top: 9px solid #337CCF;
    border-bottom: 9px solid transparent;
    left: -18px;
    top: 60%;
}

.botChatBox:after{
    content: "";
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid #C9EEFF;
    border-top: 7px solid #C9EEFF;
    border-bottom: 7px solid transparent;
    left: -11px;
    top: 61%;
}

/* User Input */

.userInput-form{
  display: flex;
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
}

.userInput{
  min-height: 3rem;
  min-width: 60%;
  border: none;
  outline: none;
  padding: .5rem;
  font-size: 1.1em;
  border-radius: 1rem 0 0 1rem;
}

.form-btn{
  border: none;
  min-width: 12%;
  background-color: #FF6969;
  border-radius: 0 1rem 1rem 0;
  cursor: pointer;
}

.send-icon{
  transition:all 0.2s;
  margin-top: 5px;
}

.form-btn:hover{
  .send-icon{
    transform: scale(1.2);
  }
  
}

.footer-container{
  max-height: 3rem;
  position: relative;
  left: 0;
  bottom: 0;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.icons{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-icon{
  text-decoration: none;
  color: inherit;
}


/* responsive design */

@media (max-width: 450px) {

  html, body {
    font-size: 12px;
  }

  .menuToggler{
    display: block;
  }

  .nav-items{
    position: absolute;
    flex-direction: column;
    gap: 0;
    top: 8rem;
    left: -100%;
    text-align: start;
    width: 100%;
    background: rgb(1,1,34);
    background: linear-gradient(90deg, rgba(1,1,34,1) 17%, rgba(38,4,68,1) 50%, rgba(1,1,34,1) 100%);
    padding: 0.8rem;
  }

  .nav-items.active{
    left: 0;
  }

  .nav-items li{
    margin: 3rem 0;
  }

  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main.active{
  display: none;
  }

  .hero{
    width: 90%;
    margin-inline: 2rem;
  }

  .bot-container{
    width: 90%;
    margin: 2rem;
    padding: 1rem;
  }

  .footer.active{
    display: none;
  }
}

